curl -s -X POST '${BASEURL}/api/v1/apps/${UUID}/install' -H 'Content-Type: application/json' -H 'Authorization: Basic ${BASICAUTH}' -d '{ "name" : "${NAME}", "description" : "${DESCRIPTION}", "destinationFolderId" : "${FOLDER}", "dataSourceValues" : ${DATASOURCEVALUES} }'